/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Lily+Script+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  cursor: pointer;
}

body {
  font-family: "Poppins";
}

.main-title {
  font-family: "Lily Script One";
  margin: 2vw 0;
  font-size: calc(64px + 16 * (100vw - 568px) / 200);
  color: white;
}

.main-subtitle {
  color: white;
  font-size: 0.9rem;
  transform: translateX(15vw) translateY(-2vw);
}

/* .btnNewDate {
  padding: 15px;
  font-size: 16px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background: #ffffff;
  width: 170px;
  color: #000000;
  font-weight: 600;
  box-shadow: 5px 2px 20px black;
  &:hover {
    background-color: #000000;
    color: #ffffff;
    box-shadow: none;
  }
}
.btnAdd {
  padding: 15px;
  font-size: 16px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background: #f4a261;
  width: 170px;
  color: #ffffff;
  font-weight: 600;
  box-shadow: 5px 2px 20px black;
  &:hover {
    background-color: #ffffff;
    color: $highlight;
    box-shadow: none;
  }
} */
#dateNew-button {
  cursor: pointer;
  background-color: #f4a261;
  font-weight: bold;
  color: white;
}
#dateNew-button:hover {
  background-color: #e76f51;
  color: white;
}

#add-button {
  cursor: pointer;
  background-color: #e76f51;
  color: white;
  font-weight: bold;
  text-transform: capitalize;
  transition: all 0.2s linear;
}
#add-button:hover {
  background-color: green;
  transform: scale(103%);
}

.nameForm {
  display: flex;
  align-items: center;
  transition: all 0.3 ease-in-out;
  margin-left: 2rem;
  width: 100%;
  left: 30%;
}
.nameForm input {
  height: 30px;
  border-radius: 8px;
  border: none;
}
.nameForm input[type=checkbox] {
  width: 30px;
  margin-right: 24px;
  border-radius: 50%;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
  accent-color: #2a9d8f;
}
.nameForm button {
  border: none;
  border-radius: 8px;
  font-weight: 600;
  height: 30px;
  width: 50px;
  background-color: #f4a261;
  color: white;
  margin-left: 6px;
  transition: transform 180ms ease-in-out;
  display: block;
}
.nameForm button:hover {
  background-color: #2a9d8f;
  transform: scale(110%);
}
.nameForm #error {
  color: #e76f51;
  font-weight: 600;
  margin: 1rem;
  font-size: 0.6em;
  clear: both;
  display: block;
}

.inputs-new {
  width: 100%;
  text-align: center;
  margin: 1rem 0;
}
.inputs-new input {
  padding: 12px;
  border-radius: 8px;
  border: none;
  font-family: "Poppins";
}
.inputs-new input:focus {
  outline-color: #f4a261;
}
.inputs-new #error-message {
  color: #f4a261;
}
.inputs-new textarea {
  padding: 12px;
  border-radius: 8px;
  resize: none;
  height: 20px;
  margin-bottom: -19px;
}
@media (max-width: 768px) {
  .inputs-new input,
  .inputs-new textarea {
    width: 80%;
    margin: 5px 1rem;
  }
  .inputs-new #add-button,
  .inputs-new #dateNew-button {
    width: 85%;
  }
}

#dates-list {
  margin: 1rem 0;
}
#dates-list li {
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
#dates-list li button {
  font-size: 1rem;
  text-transform: uppercase;
  vertical-align: auto;
  font-weight: bold;
  color: #e76f51;
  border: none;
  border-radius: 8px;
  background: none;
  transition: all 0.3s linear;
}
#dates-list li button:hover {
  transform: rotate(180deg);
  margin-left: 4px;
  color: red;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  background-color: #036855;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 2rem;
}

h1 {
  font-family: "Lily Script One";
  margin-top: 0.5rem;
  font-size: 1.7rem;
}

#app {
  background-color: #f2e1d9;
  width: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
#app .bigDiv {
  display: flex;
  position: relative;
  margin: 1rem 1rem;
  width: 100%;
  justify-content: center;
}
#app .bigDiv div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#app .bigDiv div span {
  margin-bottom: 1.5rem;
  font-size: 0.9rem;
}
#app .bigDiv .delete-button {
  background-color: #e76f51;
  border-radius: 8px;
  border: none;
  width: 20px;
  height: 20px;
}
#app .bigDiv .delete-button::before {
  content: "x";
  color: white;
}
#app .bigDiv .delete-button:hover {
  background-color: rgb(157, 0, 0);
}
#app .bigDiv .dates {
  display: flex;
  width: 50px;
  font-weight: 600;
}
#app .bigDiv table {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
  margin: auto;
}
#app .bigDiv table tr {
  display: flex;
  width: 55px;
  flex-wrap: wrap;
  flex-direction: column;
}
#app .bigDiv table .nameDiv {
  width: 145px;
  margin-left: 1rem;
  margin-top: 40px;
  font-weight: 600;
  text-transform: capitalize;
}
#app .bigDiv table .nameDiv .names {
  margin-bottom: 10px;
}
#app #newDate {
  display: none;
}
#app #eventID {
  display: none;
}
#app #proposerDate {
  display: none;
}/*# sourceMappingURL=style.css.map */