.btnNewDate {
    padding: 15px;
    font-size: 16px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background: #ffffff;
    width: 170px;
    color: #000000;
    font-weight: 600;
    box-shadow: 5px 2px 20px black;
    // font-family: 'Lily Script One';
    &:hover {
        background-color: #000000;
        color: #ffffff;
        box-shadow: none;
    }
}
.btnAdd {
    padding: 15px;
    font-size: 16px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background: #F4A261;
    width: 170px;
    color: #ffffff;
    font-weight: 600;
    // font-family: 'Poppins';
    box-shadow: 5px 2px 20px black;
    &:hover {
        background-color: #ffffff;
        color: #F4A261;
        box-shadow: none;
    }
}
