#dateNew-button {
  cursor: pointer;
  background-color: $highlight;
  font-weight: bold;
  color: white;
  &:hover {
    background-color: $orangeRed;
    color: white;
  }
}

#add-button {
  cursor: pointer;
  background-color: $orangeRed;
  color: white;
  font-weight: bold;
  text-transform: capitalize;
  transition: all 0.2s linear;
  &:hover {
    background-color: green;
    transform: scale(103%);
  }
}

.event-btn {
  border-radius: 8px;
  border: none;
  width: 20px;
  color: white;
  height: 20px;
  margin-right: 2px;
  font-weight: bold;
  &--delete {
    background-color: $orangeRed;
    &::before {
      content: "x";
    }
    &:hover {
      background-color: rgb(157, 0, 0);
    }
  }
  &--addDate {
    background-color: $green;
    &::before {
      content: "+";
    }
  }
  &--modAttend {
    background-color: $highlight;
    &::before {
      content: "a";
    }
  }
  &--modEvent {
    background-color: $highlight;
    &::before {
      content: "m";
    }
  }
}
