.nameForm {
  display: flex;
  transition: all 0.3 ease-in-out;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 1rem;
  width: 100%;
  input {
    height: 30px;
    border-radius: 8px;
    border: none;
  }
  input[type="checkbox"] {
    width: 30px;
    margin-right: 24px;
    border-radius: 50%;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
    accent-color: $green;
  }
  button {
    border: none;
    border-radius: 8px;
    font-weight: 600;
    height: 30px;
    width: 50px;
    margin-left: -12px;
    background-color: $highlight;
    color: white;
    transition: transform 180ms ease-in-out;
    display: block;
    &:hover {
      background-color: $green;
      transform: scale(110%);
    }
  }
  #error {
    color: $orangeRed;
    font-weight: 600;
    margin: 1rem;
    font-size: 0.6em;
    clear: both;
    display: block;
  }
}
