body {
  position: relative;
  .modalForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    color: white;
    height: 70%;
    background-color: #036855;
    border: 2px solid white;
    border-radius: 12px;
    transform: translate(-50%, -50%);
    input[type="text"] {
      margin-bottom: 2rem;
      padding: 8px;
      border-radius: 8px;
      border: none;
    }
    label {
      font-family: $titleFont;
      font-size: 1.5rem;
    }
    .actions {
      margin-top: 1em;
      button {
        text-align: center;
        border-radius: 8px;
        border: none;
        margin-right: 1rem;
        background-color: $highlight;
        font-weight: bold;
        color: white;
        padding: 6px;
        &:hover {
          background: $orangeRed;
        }
      }
    }
  }
}
