body {
  background-color: #036855;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 2rem;
}

#app {
  background-color: #f2e1d9;
  width: 100%;
  border-radius: 10px;
  .bigDiv {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1rem 0;
    width: 100%;
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-wrap: wrap;
      .actionBar {
        float: left;
        margin-bottom: 0.5rem;
      }
      span {
        margin-bottom: 1.5rem;
        font-size: 0.9rem;
      }
    }

    .dates {
      display: flex;
      width: 50px;
      font-weight: 600;
    }

    table {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 5px;
      margin: auto;

      tr {
        display: flex;
        width: 55px;
        flex-wrap: wrap;
        flex-direction: column;
      }
      .nameDiv {
        width: 145px;
        margin-left: 1rem;
        margin-top: 40px;
        font-weight: 600;
        text-transform: capitalize;
        .names {
          margin-bottom: 10px;
        }
      }
    }
  }

  #newDate {
    display: none;
  }
  #eventID {
    display: none;
  }
  #proposerDate {
    display: none;
  }
}

@media (max-width: 768px) {
  main {
    width: 100%;
    margin: 0;
  }
}
