body {
    background-color: #036855;

    main {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        ul {
            display: none;
        }

        .project {
            background-color: #F2E1D9;
            width: 98%;
            border-radius: 10px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            flex-direction: row;

            .bigDiv {
                display: flex;
                margin: 1rem 0 1rem 0;
                flex-direction: row;
                width: 50%;
                height: 25vh;
                div {
                    display: flex;
                    text-align: center;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 75%;
                    height: 25vh;
                }
                .dateRow {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    gap: 5px;
    
                    .dates {
                        display: flex;
                        
                    }
    
                }
                
                table {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: row;
                    gap: 5px;
                    margin: auto;
    
                    tr {
                        display: flex;
                        flex-wrap: wrap;
                        flex-direction: column;
    
                    }
                }
            }

            .nameDiv {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 15%;
                height: 25vh;
            }

            

            #newDate {
                display: none;
            }
            #eventID {
                display: none;
            }
            #proposerDate {
                display: none;
            }

        }

    }
    
}